<html>

<head>
    <title>AngularJS Component Router Example</title>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="node_modules/angularjs-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <!-- <link href="timeline/assets/css/style.css" rel="stylesheet"> -->
    <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css" rel="stylesheet">
    </link>
</head>

<body ng-app="myApp">
    <app></app>
    <script src="https://code.angularjs.org/snapshot/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="dependencies.js"></script>
    <script src="templates.js"></script>
    <script src="bundle.js"></script>
    <script src="timeline/daypilot-all.min.js"></script>

    <!-- <script src="timeline/assets/js/util.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>