<html>

<head>
    <base href="/">
    <title>Envision Scheduling UI</title>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <link href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css" rel="stylesheet">
    </link>

    <script src="https://code.angularjs.org/snapshot/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="bootstrap.js"></script>

</head>

<body ng-app="myApp">
    <nav-bar></nav-bar>
    <div class="alert alert-bar">
        <div class="row" style="display:flex;justify-content: space-around">
            <div class="col-md-4" style="display: flex; justify-content: space-around">
                <div style="font-weight:bold">Staff Available</div>
                <div class="alert-bar-text">Anathesisologist - 50</div>
                <div class="alert-bar-text">CRNA - 50</div>
                <div class="alert-bar-text">Resident - 50</div>
            </div>
            <div class="col-md-4" style="display: flex; justify-content: space-around">
                <div style=" font-weight:bold">Operating Rooms</div>
                <div class="alert-bar-text">Operation Theatre - 50</div>
                <div class="alert-bar-text">Day-Care -3</div>
            </div>
        </div>
    </div>
    <main>
        <div ng-view></div>
    </main>
    <!-- Footer -->
    <custom-footer></custom-footer>
    <script src="dependencies.js"></script>
    <script src="templates.js"></script>
    <script src="bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.3.0/angular-moment.js"></script>

    <!-- <script src="timeline/assets/js/util.js"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>

</html>