<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" style="background-color: grey; color:white" href="#">Logo</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a ng-link="['/Dashboard']">Dashboard</a></li>
            <li><a ng-link="['/Schedule']">Schedule</a></li>
            <li><a ng-link="['/Timeline']">Team</a></li>
            <li><a ng-link="['/Reports']">Reports</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="divider-vertical"></li>
          <li><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
              <a class="dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="img-circle"
                  alt="avatar image">&nbsp;<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
            </li>
        </ul>
      </div> 

</nav>
